<div class="container">
  <section class="control-purchases">
    <svg class="arrow-down" width="56" height="101">
      <use href="../img/Icons/download-blue-arrow.svg"></use>
    </svg>
  <div class="purchases-wrapper">
    <h2 class="purchases-text">
      Control <span class="purchases-span">Purchases</span> Via Dashboardd
    </h2>

    <ul class="food-list">
      <li class="food-item">
        <img src="../img/menu/mobile/ourdishes-first-1x.webp" srcset="../img/menu/mobile/ourdishes-first-1x.webp 2x"  alt="food-image"  class="food-img">
        <div  class="food-wrapper">
          <h3 class="food-title">Chicken Hell</h3>
          <p class="purchases-status">On The Way</p>
        </div>
         <span class="time">3:09 PM</span>
      </li>
      <li class="food-item">
        <img src="../img/menu/mobile/ourdishes-second-1x.webp" srcset="../img/menu/mobile/ourdishes-second-2x.webp 2x" alt="food-image" class="food-img">
        <div class="food-wrapper">
          <h3 class="food-title">Swe Dish</h3>
          <p class="purchases-status">Delivered</p>
        </div>
        <span class="time">Yesterday</span>
      </li>
      <li class="food-item">
        <img  src="../img/menu/mobile/ourdishes-third-1x.webp" srcset="../img/menu/mobile/ourdishes-third-2x.webp 2x" alt="food-image" class="food-img">
        <div class="food-wrapper">
          <h3 class="food-title">Fish Hell Veg</h3>
          <p class="purchases-status">Cancelled</p>
        </div>
        <span class="time">Yesterday</span>
      </li>
    </ul>
    </div>

    <div class="purchases-summery">
     <div class="summery-top-wrapper">
      <h3 class="summery-text">Purchases</h3>
      <button class="summery-button">This month <svg  class="summery-card-svg" width="15" height="15" >
        <use  href="../img/Icons/control-pushases-arrowdown.svg"></use>
      </svg></button>
      </div>
      <div class="summery-card magin-bottom">
        <div class="summery-card-wrapper">
        <div class="background-green">
        <svg class="summery-card-svg" width="15" height="15">
          <use  href="../img/Icons/control-purshases-money.svg"></use>
        </svg>
     </div>

        <div class="summery-card-statistic">
          <p class="summery-card-text">Expense</p>
          <span class="summery-card-span">Increased By 10%</span>
        </div>
        <span class="summery-card-cost">$409.00</span>
        </div>

        <label hidden for="range" class="label">
          Scale

        </label>
    <input class="range-input purpur" type="range" min="0" max="100" value="80" name="" id="range">
      </div>

        <div class="summery-card">
            <div class="summery-card-wrapper">
          <div class="background-purpur">
          <svg width="15" height="15" class="summery-card-svg">
            <use href="../img/Icons/control-purshases-wallet.svg"></use>
          </svg>
</div>

            <div class="summery-card-statistic">
              <p class="summery-card-text">Vocher Usage</p>
              <span class="summery-card-span">Increased By 5%</span>
            </div>
            <span class="summery-card-cost">$45.78</span>
          </div>

          <label hidden for="range" class="label">
         Scale
          </label>
          <input class="range-input" type="range" min="0" max="100" value="60" name="" id="range">
        </div>
    </div>

  </section>
</div>
