
<footer class="footer">
  <div class="container-footer">
    <svg class="icon-logo-footer">
      <use href=".././img/Icons/logo.svg"></use>
    </svg>


<ul class="icon-list">
  <li class="icon-item">
    <img
      class="footer-icon"
      src="../img/Icons/instagram.svg"
      alt="Instagram"
    />
  </li>

  <li class="icon-item">
    <img
      class="footer-icon"
      src="../img/Icons/linkedin.svg"
      alt="LinkedIn"
    />
  </li>

  <li class="icon-item">
    <img
      class="footer-icon"
      src="../img/Icons/facebook.svg"
      alt="Facebook"
    />
  </li>

  <li class="icon-item">
    <img
      class="footer-icon"
      src="../img/Icons/twitter.svg"
      alt="Twitter"
    />
  </li>
</ul>
  </div>

  <ul class="nav-list-footer">
    <li class="nav-list-item">
      <p class="nav-list-text">Blog</p>
    </li>
    <li class="nav-list-item">
      <p class="nav-list-text">Pricing</p>
    </li>
    <li class="nav-list-item">
      <p class="nav-list-text">About Us</p>
    </li>
    <li class="nav-list-item">
      <p class="nav-list-text">Contact</p>
    </li>
  </ul>

</footer>