

<footer class="footer">
  <div class="container-footer">
    <a href="/home">
    <svg class="icon-logo-footer">
      <use href=".././img/Icons/logo.svg"></use>
    </svg>
 </a>

<ul class="icon-list">
  <li class="icon-item">
    <a href="https://www.instagram.com/" target="_blank">
    <img
      class="footer-icon"
      src="../img/Icons/instagram.svg"
      alt="Instagram"
    />
    </a>
  </li>

  <li class="icon-item">
    <a href="https://www.linkedin.com/" target="_blank">
    <img
      class="footer-icon"
      src="../img/Icons/linkedin.svg"
      alt="LinkedIn"
    />
    </a>
  </li>

  <li class="icon-item">
    <a href="https://www.facebook.com/" target="_blank">
    <img

      class="footer-icon"
      src="../img/Icons/facebook.svg"
      alt="Facebook"
    />

    </a>
  </li>

  <li class="icon-item">
    <a href="https://x.com/" target="_blank">
      <img class="footer-icon" src="../img/Icons/twitter.svg" alt="Twitter" />
    </a>
  </li>
</ul>
  </div>

  <ul class="nav-list-footer">
    <li class="nav-list-item">
      <a href="/blog" class="nav-list-text">Blog</a>
    </li>
    <li class="nav-list-item">
      <a href="/pricing" class="nav-list-text">Pricing</a>
    </li>
    <li class="nav-list-item">
      <a class="nav-list-text">About Us</a>
    </li>
    <li class="nav-list-item">
      <a  href="/contact" class="nav-list-text">Contact</a>
    </li>
  </ul>

  <p class="footer-text">© 2023 EATLY All Rights Reserved.</p>

</footer>
