.container {
  max-width: 375px;
  padding: 0 30px;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 68px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 96px;
  }
}
