.footer{
width: 375px;
padding: 100px;
background-color: red;
}

.container-footer {}

.icon-logo-footer{
  width: 99px;
  height: 37px;}

.icon-list {
  height:100000px;
}

.icon-item {}

.footer-icon {}

.nav-list-footer {}

.nav-list-item {}

.nav-list-text {}